.editor.canvas-editor
  .editor-header
    .wgt.wgt-menu
        span.icon.icon-editor-svgcad
        .icon.icon-dropdown
    .layout-row
      .align-buttons-center
        .wgt.wgt-menu
          .icon.icon-orthomode(onclick='handleToogleOrtho()')
          .icon.icon-snap-off
        .wgt.wgt-menu
          .icon.icon-snap-options
          .icon.icon-dropdown
      .wgt.wgt-menu.align-buttons-right
        .icon.icon-overlay.is-active(onclick='handleToogleOverlay()')
        .icon.icon-dropdown(onclick='menuOverlay()')
        .overlay-menu
          | Grid
          | Axis

  .layout-editor#canvas
    include Terminal