.editor.canvas-editor
  .editor-header
    .wgt.wgt-menu
        span.icon.icon-editor-svgcad
        .icon.icon-dropdown
    .layout-row
      .align-buttons-center
        .wgt.wgt-menu
          .icon.icon-snap-off
        .wgt.wgt-menu
          .icon.icon-snap-options
          .icon.icon-dropdown
      .wgt.wgt-menu.align-buttons-right
        .icon.icon-overlay
        .icon.icon-dropdown
  .layout-editor#canvas
    include Terminal