section.web-section
  .icon.icon-blender-logo
  ul
    li
      a.navbar-menus(onclick='menuFile()') File
      .dropdown-menu
        ul
          li(onclick='openSVG()') 
            | Open SVG
          li(onclick='saveSVG()')
            | Save SVG
          li(onclick='fileInput.click()')
            | Import DXF
          li
            | Export DXF
    li
      a(href="#") Preferences
    li
      a(href="#") Help