.outliner
    .editor-header
        .wgt.wgt-menu
            span.icon.icon-outliner
            .icon.icon-dropdown
        .wgt.wgt-tool.no-emboss#btn-add-collection(title="New Collection")
            .icon.icon-plus-collection
    .layout-row.outliner-container
        ul.outliner-root
            li
                ul#drawing-tree.outliner-list