.outliner
    .editor-header
        .wgt.wgt-menu
            span.icon.icon-outliner
            .icon.icon-dropdown
    .layout-row.outliner-container
        ul.outliner-root
            li
                | SVG Drawing
                ul#drawing-tree.outliner-list