.properties
    .editor-header
        .wgt.wgt-menu
            span.icon.icon-editor-properties
            .icon.icon-dropdown
    .properties-container
        .properties-side-icons
            .icon.icon-properties-collection.properties-icon-button.properties-icon-button
            .icon.icon-properties-element.properties-icon-button.active
            
        .properties-panel-container 
            .properties-panel#properties-panel
                //- | Name: line
    //- .layout-row.row
    //-     .wgt.wgt-menu.expand
    //-         span Add Modifier
    //-         .icon.icon-dropdown

    //- .modifier.active
    //-     .modifier-header
    //-         .layout-row
    //-             .wgt.wgt-tool.no-emboss
    //-                 .icon.icon-collapse
    //-             .wgt.wgt-regular.no-emboss
    //-                 .icon.icon-mod-node

    //-             .layout-row.expand.align
    //-                 .wgt.wgt-text GeometryNodes
    //-                 .wgt.wgt-regular
    //-                 .icon.icon-restrict-edit-mode
    //-                 .wgt.wgt-regular.active
    //-                     .icon.icon-restrict-screen
    //-                 .wgt.wgt-regular.active
    //-                     .icon.icon-restrict-render
    //-                 .wgt.wgt-menu
    //-                     .icon.icon-dropdown
    //-             .wgt.wgt-tool.no-emboss
    //-                 .icon.icon-x
    //-             .wgt.wgt-drag.no-emboss
    //-                 .icon.icon-drag